ul{
    margin-top: 50px;
}

ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
    background: lightslategrey;
    margin: 20px;;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black
}